.wp-block-create-post-form .dashicons.spin {
    animation: dashicons-spin 1s infinite;
    animation-timing-function: linear;
    vertical-align: middle;
}

@keyframes dashicons-spin {
    0% {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( 360deg );
    }
}

.wp-block-create-post-form .input,
.wp-block-create-post-form .alart.alart-error, 
.wp-block-create-post-form .alart.alart-warning, 
.wp-block-create-post-form .alart.alart-success {
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #dcd7ca;
    color: #000;
    box-shadow: none;
    display: block;
    font-size: 1.6rem;
    letter-spacing: -0.015em;
    margin: 0;
    max-width: 100%;
    padding: 1.5rem 1.8rem;
    width: 100%;
}

.wp-block-create-post-form .input:focus {
    border-color: currentColor;
}

.wp-block-create-post-form .alart.alart-error, 
.wp-block-create-post-form .alart.alart-warning, 
.wp-block-create-post-form .alart.alart-success {
    margin-bottom: 10px;
    letter-spacing: initial;
    color: #FFF;
}

.wp-block-create-post-form .alart.alart-error {
    background-color: rgba(220,53,69,0.2);
    border-color: rgb(220,53,69);
}

.wp-block-create-post-form .alart.alart-warning {
    background-color: rgba(255,193,7,0.2);
    border-color: rgb(255,193,7);
}

.wp-block-create-post-form .alart.alart-success {
    background-color: rgba(40,167,69,0.2);
    border-color: rgb(40,167,69);
}

.wp-block-create-post-form .button.button-primary {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #cd2653;
    background-color: rgb(205, 38, 83);
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.0333em;
    line-height: 1.25;
    margin: 0;
    opacity: 1;
    padding: 1.1em 1.44em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.15s linear;
    font-size: 1.7rem;
    background-color: #cd2653
}
